<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libro</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <h3>
                    Id
                </h3>
            </td>
            <td>
                <img src="{{libro.id}}" alt="" width="150">
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    Portada
                </h3>
            </td>
            <td>
                <img src="{{libro.image_url}}" alt="" width="150">
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    Titulo
                </h3>
            </td>
            <td>
                <img src="{{libro.title}}" alt="" width="150">
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    Autor
                </h3>
            </td>
            <td>
                <img src="{{libro.author}}" alt="" width="150">
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    ID Categoria
                </h3>
            </td>
            <td>
                <img src="{{libro.category_id}}" alt="" width="150">
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    Categoria
                </h3>
            </td>
            <td>
                <img src="{{libro.category}}" alt="" width="150">
            </td>
        </tr>
    </table>
</body>
</html>